name: Build FFmpeg Windows

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        ffmpeg: [
                 {version: 8.0.1, avcodec: 62, avformat: 62, avutil: 60, swresample: 6},
                 {version: 7.0.3, avcodec: 61, avformat: 61, avutil: 59, swresample: 5},
                 {version: 6.1.4, avcodec: 60, avformat: 60, avutil: 58, swresample: 4},
                 {version: 5.1.8, avcodec: 59, avformat: 59, avutil: 57, swresample: 4},
                 {version: 4.4.6, avcodec: 58, avformat: 58, avutil: 56, swresample: 3},
                 {version: 3.4.14, avcodec: 57, avformat: 57, avutil: 55, swresample: 2},
                 {version: 2.8.22, avcodec: 56, avformat: 56, avutil: 54, swresample: 1}
                 ]
        system: [
                 {os: windows-2025,   msystem: mingw64,    architecture: x86_64}, 
                 {os: windows-11-arm, msystem: clangarm64, architecture: aarch64}
                 ]
        exclude:
          # I did not manage to compile the older ffmpeg versions an windows ARM
          # Let me know if you manage to do so.
          - ffmpeg: {version: 2.8.22, avcodec: 56, avformat: 56, avutil: 54, swresample: 1}
            system: {os: windows-11-arm, msystem: clangarm64, architecture: aarch64}
          - ffmpeg: {version: 3.4.14, avcodec: 57, avformat: 57, avutil: 55, swresample: 2}
            system: {os: windows-11-arm, msystem: clangarm64, architecture: aarch64}
    
    runs-on: ${{ matrix.system.os }}

    steps:

    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.system.msystem }}
        pacboy: make:p pkgconf:p binutils:p diffutils:p nasm:p yasm:p gcc:p

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Checkout FFmpeg
      uses: actions/checkout@v4
      with:
        repository: FFmpeg/FFmpeg
        path: FFmpeg
        ref: n${{ matrix.ffmpeg.version }}

    - name: Apply FFmpeg 2/3 intel assembly patch
      if: (matrix.ffmpeg.version == '2.8.22' || matrix.ffmpeg.version == '3.4.14') && (runner.arch == 'X86' || runner.arch == 'X64')
      run: |
        cd FFmpeg
        git apply ../.github/workflows/ffmpeg23IntelAssembly.patch
        cd ..

    - name: Apply FFmpeg 3 Neon patch
      if: matrix.ffmpeg.version == '3.4.14' && matrix.system.os == 'windows-11-arm'
      run: |
        cd FFmpeg
        git apply ../.github/workflows/ffmpeg3NeonH264.patch
        cd ..

    - name: Info
      shell: msys2 {0}
      run: |
        uname -s

    - name: Configure
      shell: msys2 {0}
      run: |
        cd FFmpeg
        ./configure --arch=${{ matrix.system.architecture }} --target-os=mingw32 --disable-static --enable-shared --disable-debug --disable-everything --disable-doc --enable-decoder=h264 --enable-demuxer=mov --enable-demuxer=matroska --enable-protocol=file --pkg-config-flags="--static" --ld=g++ --extra-libs="-pthread" --extra-cflags="-static -static-libstdc++ -static-libgcc" --extra-cxxflags="-static -static-libstdc++ -static-libgcc" --extra-ldflags="-static -static-libstdc++" --disable-d3d11va --disable-dxva2 --disable-vaapi --disable-vda --disable-vdpau 

    - name: Build
      shell: msys2 {0}
      run: |
        cd FFmpeg
        mingw32-make.exe V=1

    - name: Package Zip file
      run: |
        mkdir tempFolder
        cd tempFolder
        cp ../FFmpeg/libavcodec/avcodec-*.dll .
        cp ../FFmpeg/libavformat/avformat-*.dll .
        cp ../FFmpeg/libavutil/avutil-*.dll .
        cp ../FFmpeg/libswresample/swresample-*.dll .
        cp ../FFmpeg/libavfilter/avfilter-*.dll .
        cp ../FFmpeg/libavdevice/avdevice-*.dll .
        cp ../FFmpeg/libswscale/swscale-*.dll .
        cp ../FFmpeg/ffmpeg.exe .
        cp ../FFmpeg/ffprobe.exe .

    - name: Print artifact files and version
      continue-on-error: true
      run: |
        cd tempFolder
        ls
        ./ffmpeg.exe -version
        ./ffprobe.exe -version

    - uses: actions/upload-artifact@master
      with:
        name: ffmpeg-${{ matrix.ffmpeg.version }}-${{ matrix.system.os }}
        path: ${{ github.workspace }}/tempFolder/